@font-face {
    font-family: "Who asks Satan";
    src: url("../fonts/who_asks_satan.ttf") format("truetype");
}

/*
START RANKING PAGE STYLE
*/

.ranking {
    background-color: black;
    height: 100vh;
    width: 100%;
}

.ranking_podium {
}

.ranking_title {
    font-family: "Who asks Satan", sans-serif;
    color: red;
    font-size: 4rem;
    text-align: center;
    padding: 30px;
}

.ranking_table {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.ranking img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
}

/*
END RANKING PAGE STYLE
*/
