/* partie des niveaux********************************/

@font-face {
    font-family: "Who asks Satan";
    src: url('../fonts/who_asks_satan.ttf');
}
body{
    background-image:url("/src/image/death-164761.jpg") ;
    background-attachment: fixed;
    background-repeat: no-reapet !important;
    background-position: top !important;
    background-size: cover !important;
}


h1 {
    font-family: 'Indie Flower', cursive;
    color:white;
}

.levels{
    display: flex;


}

.lvl{
    display: flex;
    flex-direction: row;
    margin-right: 20%;
    background:transparent;
    border-radius:50%;
    width:110px;
    height:110px;
    border:2px solid white;
    color: white;
    border-right-width: 34px;
    font-family: "Who asks Satan";
    font-size: 4em;
}
.number{

    margin-left: 22px;
}
.lock{
    height: 25px;
    width:25px ;
    margin-left: 30px;
    margin-top: 35px;
}
/*** fin de la partier page niveau**/